<%- include('header')-%>

<style>
    .blog{
        margin: 50px 50px 50px 100px;
    }
    .title{
        margin-bottom: 20px;
        font-size: 35px;
    }
</style>


    <div class="blog">
        <div class="title"><%=title%></div>
        <div class="content"><%= content%> </div>
        
    </div>
    


<!-- <%- include('footer')-%> -->