<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    footer{
        text-align: center;
        background-color: rgba(182, 211, 209, 0.603);
        padding: 30px;
        margin-top: 20px;
        position: fixed;
        bottom: 1px;
        width: 100%;
    }
    footer h3{
        margin-top: 10px;
    }
</style>
<body>
    <footer>
        <h3>Made by Muhidin</h3>
        <h4>CopyWrite Protected 2024</h4>
    </footer>
    
</body>
</html>