<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<style>
    *{
        box-sizing: border-box;
        margin: 0;
        font-family:  'Arial Bold', sans-serif;    
    }
    header{
        background-color: rgba(182, 211, 209, 0.603);
        padding: 20px;
    }
    h1{
        display: inline-block;
        padding-left: 50px;
    }
    ul{
        float: right;
        list-style-type: none;
    }
    li{
        float: left;
        margin: 10px 10px 0 50px;
    }
    li a{
        text-decoration: none;
        color: black;
    }
</style>
<body>
    <header>
        <h1>DAILY JOURNAL</h1> 
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </header>
</body>
</html>