<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <script src="js.js"></script>
    <%- include('header') %>
    <div class="blogs">
        <h1> Here are the blogs</h1><br>

        <% for( let i = 0; i < a.length; i++ ) { %>
            <div class="blog">
                <h1 class="title"><%-a[i].title%></h1>
                <h3 class="content">
                    <%- a[i].content.slice(0,100) %> 
                    <a href=<%-a[i].title.replace(' ','_')  %> style="font-size: 15px;">Read More</a>
                </h3>

            </div>
        
        <% } %>
        
            <div class="compose">
                <a href="/compose">compose</a>
            </div>
    </div>
</body>
</html>